@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$primary: mat-palette($mat-red, 700);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme:   mat-light-theme($primary, $accent);

// Include the theme styles for only specified components.
@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'c:/Windows/System32/Tekweb/my-app/src/uikit.css';